<div class="d-flex" style="align-items: center; width:100vw;height:100vh">

    <div class="container arrotondato">
        <div class="col-6 mx-auto text-center">
            stai comprando <br>
            <div class="col-md-2 d-inline-block p-2" [innerHTML]="qualevedo.nome" style="border:solid 1px black">nome prodotto</div> <br>
            a <br>
            <div class="col-md-2 d-inline-block  p-2" [innerHTML]="qualevedo.prezzo" style="border:solid 1px black">prezzo</div><br>
        </div>

        <div class="border py-5 mt-5">
            <div class="text-center">inserisci i tuoi dati</div>
            <div class="row p-5">
                <div class="col-md-6 text-center">
                    
                <input type="text" id="nome" class="nome" placeholder="nome">
                </div>
                <div class="col-md-6 text-center">
                <input type="text" id="email" class="email" placeholder="email">
                </div>
                <div class="col-md-6 text-center">

                <input type="text" id="residenza" class="residenza" placeholder="residenza">
                </div>
                <div class="col-md-6 text-center">

                <input type="text" id="tabb" class="tabb" placeholder="tempo abbonamento">
                </div>
            </div>
            <div class="text-center"><div class="d-inline-block rounded border bg-success text-light p-2">CONFERMA</div></div>
        </div>

    </div>

</div>
