<div class="mt-5"><div class="bg-primary container text-center p-3"><h2>LE NOSTRE FASCIE DI PREZZO</h2></div>
<div class="my-5 mx-auto container row dettagli">
    <div class="col-md-4 prima" (click)="cliccato(0)">
        <div class="text-danger"><h3 class="text-center">2 € al mese*</h3></div>
        <div><h4>hosting based:</h4>
            <ul>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 seconda bg-secondary text-light" (click)="cliccato(1)">
        <div class="text-danger"><h3 class="text-center">15 € al mese*</h3></div>
        <div><h4>hosting avg:</h4>
            <ul>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 terza" (click)="cliccato(2)">
        <div class="text-danger"><h3 class=" text-center">30 € al mese*</h3></div>
        <div><h4>hosting top:</h4>
            <ul>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
                <li>+ Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi aliquam quidem ut veritatis similique, atque, illo quisquam culpa, repellat nobis laborum beatae laboriosam. Necessitatibus, mollitia velit nulla illo obcaecati nesciunt!</li>
            </ul>
        </div>
    </div>
</div>
</div>
<div *ngIf>

</div>