<div class="container login">
    <div class=row>
        <h1>Login</h1>

        <div class =col>
            <form >
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="password">
                  </div>
            </form>
            <div class="button_container">
                <button type="button" class="btn btn-success" (click)="accesso()">Accedi</button>
              </div>
        </div>
        <div class =col>
            <img src ="https://media.istockphoto.com/photos/modern-keyboard-wih-blue-log-in-button-picture-id638149354?b=1&k=20&m=638149354&s=170667a&w=0&h=K_dd1EuWBMmyU0A5IN4igEUROFozhvtj7CtJ0GswHLE=">
        </div>
    </div>
</div>

<!---
<form #form1="ngForm" (ngSubmit)="onFormSubmit(form1)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" aria-describedby="password">
      </div>
</form>-->