/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
