<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagini/card1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Better Core Web Vitals and UX</h5>
        <p class="card-text">UpCloud's MaxIOPS storage gives your websites faster load times. Speedier page loads convert directly to better Core Web Vitals, SEO ranking and UX which means more traffic and revenue for your clients.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagini/card2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">100% faster, 100% uptime</h5>
        <p class="card-text">Some websites get up 100% faster by just moving onto UpCloud. We also give you 100% uptime SLA and a 50x payback for any downtime over 5 minutes. Our in-house Support team is available live 24/7 for our users.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagini/card3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Spin up new servers quickly</h5>
        <p class="card-text">As you get more new customers, you can easily spin up new servers or scale up from our Control Panel or with our API endpoints. Create your own setup scripts to deploy new servers with your own configuration.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
